*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111;
    color: #fafafa;
    background-image: url("./backdrop.jpeg");
    background-size:cover;
    width: 100%;
    height: auto;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-button{
    background: transparent;
    border: none;
    margin: 6% 0;
    cursor: pointer;
    width: auto;
    
    
}

.glassy-shape {
    background: rgba(255, 255, 255, 0.05); /* Slightly transparent white background */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(4px); /* Blurred background */
    -webkit-backdrop-filter: blur(4px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.title{
    position: relative;
    left: -7.5%;
    width: calc(100% + 15%);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 650;
    color: #3b9867;  
    padding: 5%;
    transition: ease-in-out 0.3s;
    text-wrap: nowrap;
}

.title h1:hover{
    color: #32cd32;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
}

.file-section{
    width: 25%;
    height: auto;
    margin: 0 0 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.file-section label{
    display: none;
}

.file{
    width:100%;
    height: auto;
    outline: none;
    appearance: none;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    background: rgba(42, 78, 42, 0.4);
    border: 1px solid rgba(42, 78, 42, 0.5); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.file::file-selector-button {
    background: #1e653f;
    height: 40px;
    width: 45%;
    border: none;
    border-radius: 10px 0 0 0; /* Rounded corners */
    padding: 5px 10px;
    margin-right: 11%;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: ease-in-out 0.3s;
}

.file:hover::file-selector-button {
    background: #3b9867; /* Slightly more opaque green on hover */
}

.file::file-selector-button:hover {
    background: #3b9867; /* Slightly more opaque green on hover */
}

.radio-section {
    display: flex;
    align-items: center;
    background: rgba(42, 78, 42, 0.2);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(42, 78, 42, 0.5); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 10% 0 0;
}

.radio-section input[type="radio"] {
    display: none;
}

.radio-section label {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background: rgba(42, 78, 42, 0.2);
    transition: background 0.3s, color 0.3s;
}

.radio-section label:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.radio-section label:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.radio-section input[type="radio"]:checked + label {
    background: #1e653f;
    color: white;
}

.radio-section input[type="radio"]:hover + label {
    background: #1e653f;
}

.radio-section label:hover {
    background: #1e653f;
}

#timeQuantumDiv {
    display: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% 0 0 0;
}

#timeQuantumDiv label{
    display: none;
}

#timeQuantumDiv input[type="number"] {
    width: 25%;
    height: 40px;
    margin: 0 0 0 10%;
    border-radius: 25px;
    padding: 10px 20px;
    outline: none;
    appearance: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background: rgba(42, 78, 42, 0.4);
    border: 1px solid rgba(42, 78, 42, 0.5); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

#timeQuantumDiv input[type="number"]::placeholder {
    color: #bcbcbc;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
    background: linear-gradient(135deg, #1e653f, #3b9867);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    margin-top: 3%;
    width: 80%;
}

.gantt-chart,.time-chart, .process-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow-x: scroll;
}   

.gantt-chart::-webkit-scrollbar, 
.time-chart::-webkit-scrollbar, 
.process-data::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.gantt-chart {
    justify-content: flex-start;
    background: linear-gradient(135deg, #237248, #3b9867);
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.process {
    flex-shrink: 0;
    text-align: center;
    margin: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.process:nth-of-type(1) div::before{
    content: '0';
}

.process div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 2%;
    padding: 0 4% ;
    font-size: 0.8rem;
}

.process:nth-of-type(1) div{
    justify-content: space-between;
}
.process-data{
    justify-content: space-between;
}

.process-data div {
    margin: 2% 0 0 0;
    padding: 0 2% 0 0;
    text-align: center;
    border-right: 3px solid #113d26;
}

.process-data div:last-child {
    border-right: none;
}

@media screen and (max-width: 480px) {

    :root{
        font-size: 10px;
    }

    .title-button{
        margin: 35% 0 7.5% 0;
    }

    form{
        flex-direction: column;
        font-size: .7rem;
    }

    .file{
        font-size: .7rem;
    }

    .file-section{
        width: 50%;
        margin: 7.5% 0 5% 0;
    }

    .radio-section{
        margin: 5% 2.5%;
        width: 95%;
    }

    #timeQuantumDiv{
        margin: 5% 0;
    }
    
    #timeQuantumDiv input[type="number"] {
        width: 50%;
        margin: 0 0 0 2.5%;
    }

    .container {
        width: 95%;
        margin: 5% 0 30% 0;
    }

    .gantt-chart{
        padding: 20px;
    }

    .process p{
        padding: 5% ;
    }
    
    
}